# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# ---------------------------------------------------------------------------
# "OrdererOrgs" - Definition of organizations managing orderer nodes
# ---------------------------------------------------------------------------
OrdererOrgs:
  - Name: Orderer
    Domain: example.com
    Specs:
      - Hostname: orderer
PeerOrgs:
  - Name: Org1
    Domain: org1.example.com
    Template: # peer의 개수
      Count: 1
    Users:    # 기등록된 사용자의 인증서
      Count: 1
  - Name: Org2
    Domain: org2.example.com
    Template: # peer의 개수
      Count: 1
    Users:    # 기등록된 사용자의 인증서
      Count: 1
